<!DOCTYPE html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Plumworks</title>
  <meta name="description" content="Hey there! Enjoy your stay." />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!-- Semantic UI -->
  <script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    crossorigin="anonymous"
  ></script>
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css"
  />
  <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

  <!-- Fullpage CSS-->
  <link rel="stylesheet" type="text/css" href="css/fullpage.min.css" />

  <!-- FONTS -->

  <link
    href="https://fonts.googleapis.com/css?family=Abril+Fatface|Bungee+Shade|Concert+One|Quicksand:400,700|Rubik+Mono+One&display=swap"
    rel="stylesheet"
  />

  <!-- CUSTOM STYLESHEET -->
  <link rel="stylesheet" href="css/style.css" />
</head>

<body>
  <!-- <div id="page-container">
    <div id="content-wrap"> -->
  <!-- <ul id="menu">
    <div class="ui fluid top borderless four item fixed menu">
      <a href="/" class="header item">
        Plumworks
      </a>
      <li data-menuanchor="s1" class="active">
        <a href="#s1">About</a>
      </li>

      <li data-menuanchor="s2">
        <a href="#s2">Skills</a>
      </li>

      <li data-menuanchor="s3">
        <a href="#s3">Projects</a>
      </li>
    </div>
  </ul> -->

  <div id="fullpage">
    <!-- ABOUT -->
    <section class="section active" id="section0">
      <a name="section1">
        <!-- class="section" id="section0" -->
        <div class="ui fluid container section about fadein">
          <div class="ui header container">
            <img
              id="profileimg"
              src="images/profilepic2.jpg"
              alt="Profile Pic"
              class="ui image"
            />
            <h1>
              👋Hi, I'm Desirée.
              <!-- <div id="myname">Desirée.</div> -->
            </h1>
            <h3>
              <em>
                I'm a creator, web developer, and professional problem
                solver</em
              >
            </h3>
          </div>
          <div class="ui very padded text justified container">
            <p>
              I've always been curious about the web, though I only started
              learning web development in June 2019. I finished my first
              self-paced course in early November of 2019. In four months I went
              from having poor, academically driven programming skills, to
              building fun, interactive, intermediate level web applications in
              JavaScript with MongoDB, Express.js, Node.js, and (of course)
              Google. I am slowly building my portfolio, in the mean time, check
              out my projects.
            </p>
          </div>
        </div>
      </a>
    </section>

    <!-- SKILLS -->
    <section class="section" id="section1">
      <a name="section2">
        <div class="ui fluid container section skills">
          <div class="ui text container skills">
            <h4 class="ui horizontal divider header">
              Skills and Future Goals
            </h4>
          </div>
          <table class="ui selectable inverted table">
            <thead class="table header">
              <tr>
                <th>Skills</th>
                <th>Skill Level</th>
                <th class="right aligned">Next Steps</th>
              </tr>
            </thead>
            <tbody class="table body">
              <tr>
                <td>HTML5</td>
                <td>Intermediate</td>
                <td class="right aligned">Practice semantic tagging</td>
              </tr>
              <tr>
                <td>CSS</td>
                <td>Intermediate</td>
                <td class="right aligned">Learn CSS Grid and Flexbox</td>
              </tr>
              <tr>
                <td>JavaScript 5</td>
                <td>Intermediate</td>
                <td class="right aligned">Learn JS6, learn promises</td>
              </tr>
              <tr>
                <td>Node</td>
                <td>Beginner</td>
                <td class="right aligned">
                  Complete Node.js course
                </td>
              </tr>
              <tr>
                <td>Express.js</td>
                <td>Beginner</td>
                <td class="right aligned">
                  Keep practicing and creating projects through Node.js course
                </td>
              </tr>
              <tr>
                <td>MongoDB</td>
                <td>Beginner</td>
                <td class="right aligned">
                  Keep practicing and creating projects through Node.js course
                </td>
              </tr>
              <tr>
                <td>SQL</td>
                <td>Beginner</td>
                <td class="right aligned">
                  Begin course after completing Node.js course
                </td>
              </tr>
              <tr>
                <td>Passport.js</td>
                <td>Beginner</td>
                <td class="right aligned">
                  Keep practicing authentication
                </td>
              </tr>
              <tr>
                <td>React.js</td>
                <td>Beginner</td>
                <td class="right aligned">
                  Start learning React after completing courses on Node.js & SQL
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </a>
    </section>

    <!-- PROJECTS -->
    <section class="section" id="section2">
      <!-- class="section" id="section2" -->
      <a name="section3">
        <div class="ui fluid container section">
          <div class="ui cards centered borderless">
            <!-- BATTLESHIP CARD -->
            <div class="card">
              <div class="image">
                <a href="https://descxcrs.github.io/play-battleship/">
                  <img src="images/battleship.jpg" />
                </a>
              </div>

              <div class="content">
                <a
                  href="https://descxcrs.github.io/play-battleship/"
                  class="header"
                  >Play Battleship!</a
                >
                <div class="meta">
                  <span class="date">Created in Aug 2019</span>
                </div>
                <div class="description">
                  First project written in javascript. This Battleship game was
                  one of the projects completed by following the Head First
                  Javascript book.
                </div>
              </div>
              <div class="extra content">
                <a>
                  <i class="check circle outline icon"></i>
                  html, css, javascript
                </a>
              </div>
            </div>

            <!-- RGB CARD -->
            <div class="card">
              <div class="image">
                <a href="https://descxcrs.github.io/RGB_Game/">
                  <img src="images/rgbgame.png" />
                </a>
              </div>

              <div class="content">
                <a href="https://descxcrs.github.io/RGB_Game/" class="header"
                  >RGB Game</a
                >
                <div class="meta">
                  <span class="date">Created in Aug 2019</span>
                </div>
                <div class="description">
                  Color guessing game created for more practice with javascript
                  and css, this project was part of the course The Web Developer
                  Bootcamp.
                </div>
              </div>

              <div class="extra content">
                <a>
                  <i class="check circle outline icon"></i>
                  html, css, javascript
                </a>
              </div>
            </div>

            <!-- YELPCAMP CARD -->
            <div class="card">
              <div class="image">
                <a href="https://plumworks-yelpcamp.herokuapp.com/">
                  <img src="images/yelpcamp.png" />
                </a>
              </div>
              <div class="content">
                <a
                  href="https://plumworks-yelpcamp.herokuapp.com/"
                  class="header"
                  >YelpCamp</a
                >
                <div class="meta">
                  <span class="date">Created in Oct 2019</span>
                </div>
                <div class="description">
                  YelpCamp is the first full-stack project created by completing
                  The Web Developer Bootcamp. I learned to use node.js, express,
                  mongoDB, passport.js, Google Maps API and other technologies
                  to develop the website.
                </div>
              </div>

              <div class="extra content">
                <a>
                  <i class="check circle outline icon"></i>
                  node, express, mongoDB, Google Maps
                </a>
              </div>
            </div>

            <!-- YELPCAMP CARD -->
            <div class="card">
              <div class="image">
                <a href="https://descxcrs.github.io/simple_patatap_clone/">
                  <img src="images/patatap.png" />
                </a>
              </div>
              <div class="content">
                <a
                  href="https://descxcrs.github.io/simple_patatap_clone/"
                  class="header"
                  >Patatap Clone</a
                >
                <div class="meta">
                  <span class="date">Created in Aug 2019</span>
                </div>
                <div class="description">
                  Another project created by completing
                  <em>The Web Developer Bootcamp</em>. This project was created
                  to practice working with libraries and different visual and
                  audio tools. Created using paper.js and howler.j.
                </div>
              </div>

              <div class="extra content">
                <a>
                  <i class="check circle outline icon"></i>
                  html, css, javascript, paper.js, howler.js
                </a>
              </div>
            </div>
            <!-- .fluid.container.section -->
          </div>
          <!-- ui fluid container section -->
        </div>
      </a>
    </section>

    <!-- #fullpage -->
  </div>

  <!-- <footer>
        <div class="ui footer segment form-page bottom" id="footer">
          <div class="ui container">
            Plumworks. 2019.

          </div>
        </div>
      </footer> -->

  <!-- #content-wrap -->
  <!-- </div> -->

  <!-- #page-container -->
  <!-- </div> -->
  <script type="text/javascript" src="script/fullpage.js"></script>
  <script type="text/javascript" src="script/script.js"></script>
</body>
