<!DOCTYPE html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Plumworks</title>
  <meta name="description" content="Hey there! Enjoy your stay." />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!-- Semantic UI -->
  <script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    crossorigin="anonymous"
  ></script>
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css"
  />
  <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

  <!-- Fullpage CSS-->
  <link rel="stylesheet" type="text/css" href="css/fullpage.min.css" />

  <!-- FONTS -->

  <link
    href="https://fonts.googleapis.com/css?family=Fredoka+One|Montserrat|Quicksand:400,700&display=swap"
    rel="stylesheet"
  />

  <!-- CUSTOM STYLESHEET -->
  <link rel="stylesheet" href="css/style.css" />
</head>

<body>
  <!-- Header -->

  <!-- <ul id="header">
    <div class="ui fluid top borderless four item fixed menu">
      <a href="/" class="header item">
        Plumworks
      </a>
    </div>
  </ul> -->

  <!-- Footer -->

  <!-- <footer id="footer">
    <div class="ui footer segment form-page bottom" id="footer">
      <div class="ui container">
        Plumworks. 2019.

        https://icons8.com
      </div>
    </div>
  </footer> -->

  <div id="fullpage">
    <!-- ABOUT -->
    <section class="section" id="section0">
      <!-- class="section" id="section0" -->
      <div class="ui fluid container about fadein">
        <div class="ui header container">
          <!-- <img
              id="profileimg"
              src="images/profilepic2.jpg"
              alt="Profile Pic"
              class="ui image"
            /> -->
          <h1 class="ui header">
            Desirée Cáceres
            <!-- <div id="myname">Desirée.</div> -->
          </h1>
          <h3 class="ui header">
            creator, web developer, professional problem-solver
            <a
              href="https://womenmake.com/@descxcrs"
              title="Women Make Founding Member"
            >
              🌺</a
            >
          </h3>
        </div>
        <!-- <div class="ui very padded text justified container"> -->
        <div class="ui text container">
          <ul id="info">
            <li class="skills">Skills</li>
            <li>HTML5</li>
            <li>CSS</li>
            <li>JavasScript</li>
            <li>Node.js</li>
            <li>Express.js</li>
            <li>MongoDB</li>
          </ul>
        </div>
      </div>
    </section>

    <!-- PROJECTS -->
    <section class="section" id="section1">
      <!-- class="section" id="section2" -->
      <div class="ui fluid container">
        <div class="ui cards centered borderless">
          <!-- BATTLESHIP CARD -->
          <div class="card">
            <div class="image">
              <a href="https://descxcrs.github.io/play-battleship/">
                <img src="images/battleship.jpg" />
              </a>
            </div>

            <div class="content">
              <a
                href="https://descxcrs.github.io/play-battleship/"
                class="header"
                >Play Battleship!</a
              >
              <div class="meta">
                <span class="date">Created in Aug 2019</span>
              </div>
              <div class="description">
                First project written in javascript. This Battleship game was
                one of the projects completed by following the Head First
                Javascript book.
              </div>
            </div>
            <div class="extra content">
              <a>
                <i class="check circle outline icon"></i>
                html, css, javascript
              </a>
            </div>
          </div>

          <!-- RGB CARD -->
          <div class="card">
            <div class="image">
              <a href="https://descxcrs.github.io/RGB_Game/">
                <img src="images/rgbgame.png" />
              </a>
            </div>

            <div class="content">
              <a href="https://descxcrs.github.io/RGB_Game/" class="header"
                >RGB Game</a
              >
              <div class="meta">
                <span class="date">Created in Aug 2019</span>
              </div>
              <div class="description">
                Color guessing game created for more practice with javascript
                and css, this project was part of the course The Web Developer
                Bootcamp.
              </div>
            </div>

            <div class="extra content">
              <a>
                <i class="check circle outline icon"></i>
                html, css, javascript
              </a>
            </div>
          </div>

          <!-- YELPCAMP CARD -->
          <div class="card">
            <div class="image">
              <a href="https://plumworks-yelpcamp.herokuapp.com/">
                <img src="images/yelpcamp.png" />
              </a>
            </div>
            <div class="content">
              <a href="https://plumworks-yelpcamp.herokuapp.com/" class="header"
                >YelpCamp</a
              >
              <div class="meta">
                <span class="date">Created in Oct 2019</span>
              </div>
              <div class="description">
                YelpCamp is the first full-stack project created by completing
                The Web Developer Bootcamp. I learned to use node.js, express,
                mongoDB, passport.js, Google Maps API and other technologies to
                develop the website.
              </div>
            </div>

            <div class="extra content">
              <a>
                <i class="check circle outline icon"></i>
                node, express, mongoDB, Google Maps
              </a>
            </div>
          </div>

          <!-- YELPCAMP CARD -->
          <div class="card">
            <div class="image">
              <a href="https://descxcrs.github.io/simple_patatap_clone/">
                <img src="images/patatap.png" />
              </a>
            </div>
            <div class="content">
              <a
                href="https://descxcrs.github.io/simple_patatap_clone/"
                class="header"
                >Patatap Clone</a
              >
              <div class="meta">
                <span class="date">Created in Aug 2019</span>
              </div>
              <div class="description">
                Another project created by completing
                <em>The Web Developer Bootcamp</em>. This project was created to
                practice working with libraries and different visual and audio
                tools. Created using paper.js and howler.j.
              </div>
            </div>

            <div class="extra content">
              <a>
                <i class="check circle outline icon"></i>
                html, css, javascript, paper.js, howler.js
              </a>
            </div>
          </div>
          <!-- .fluid.container.section -->
        </div>
        <!-- ui fluid container section -->
      </div>
    </section>

    <!-- CONTACT INFO -->
    <section class="section" id="section2">
      <div class="ui fluid container contact">
        <div class="ui text container">
          <img class="contact image" src="images/flame.png" alt="Message" />
          <h2 class="info ui header">Contact Information</h2>
          <ul id="email">
            <li>
              <a href="mailto:descxcrs@gmail.com" title="Email Me!"
                >descxcrs@gmail.com</a
              >
            </li>
          </ul>

          <div id="infoList">
            <button class="ui icon button">
              <a href="https://github.com/descxcrs" title="Github"
                ><i class="github icon"></i
              ></a>
            </button>
            <button class="ui icon button">
              <a href="https://t.me/descxcrs" title="Telegram"
                ><i class="telegram plane icon"></i
              ></a>
            </button>
            <button class="ui icon button" title="Twitter">
              <a href="https://twitter.com/descxcrs"
                ><i class=" twitter icon"></i
              ></a>
            </button>
            <button class="ui icon button" title="Medium">
              <a href="https://medium.com/@desicaceres"
                ><i class="medium m icon"></i
              ></a>
            </button>
            <button class="ui icon button" title="Wordpress">
              <a href="https://descxcrs.wordpress.com/"
                ><i class="wordpress simple icon"></i
              ></a>
            </button>
          </div>
        </div>
      </div>
    </section>

    <!-- #fullpage -->
  </div>

  <script type="text/javascript" src="script/fullpage.js"></script>
  <script type="text/javascript" src="script/script.js"></script>
</body>
