body {
  background: #ddd6f3; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #dda0dd,
    #d8acb8
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #dda0dd,
    #d8acb8
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 4rem;
}

a > .ui.about,
a > .ui.skills,
a > .ui.projects {
  min-height: 100vh;
}

img {
  width: 100%;
  -webkit-box-shadow: 10px 5px 5px -10px #4c4c4c;
  -moz-box-shadow: 10px 5px 5px -10px #4c4c4c;
  box-shadow: 10px 5px 5px -10px #4c4c4c;
}

#upbutton {
  position: fixed;
  bottom: 40px;
  right: 10px;
}

.fadein {
  animation-name: fadeIn;
  animation-duration: 0.5s;
  transition-timing-function: ease-in;
  animation-fill-mode: both;
}

.fadeinup {
  animation-name: fadeInUp;
  animation-duration: 0.25s;
  transition-timing-function: ease-in;
  animation-fill-mode: both;
}

/***************************************************
                       Navbar
****************************************************/

#menu .item {
  font-size: 1.2em;
  font-family: "Quicksand", sans-serif;
  color: whitesmoke;
  padding-top: 1%;
  padding-bottom: 1.2%;
}

#menu .header.item {
  font-size: 2em;
  font-weight: 700;
  letter-spacing: 0.2em;
  padding-left: 10%;
  font-family: "Bungee Shade", cursive;
}

.ui.menu {
  background: rgba(0, 0, 0, 0.9);
  border-style: none;
}

.ui.menu .item:before {
  background: none;
}

/***************************************************
              All Section Containers
****************************************************/

.ui.fluid.container.section {
  padding-top: 7em;
  height: 100%;
}

.ui.fluid.container.section.about {
  padding-top: 13em;
}

div.ui.header.container {
  width: 700px;
  margin: auto;
}

/***************************************************
                     About Section
****************************************************/

.ui.fluid.container.section.about > .ui.header.container:not(img),
.ui.fluid.container.section.about > .ui.very.padded.text.justified.container {
  background: #e9cbdd;
  width: 32%;
  text-align: justify;
  padding: 1em;
}

.ui.about > .ui.header {
  margin-left: 12.43em !important;
}

div.ui.very.padded.text.container {
  min-width: 200px !important;
  font-family: "Quicksand", sans-serif;
  font-size: 1em;
  letter-spacing: 0.05em;
  margin-top: -1em;
  margin-left: 3em;
  color: #4c4c4c;
  margin-left: 16em !important;
  width: 31.99% !important;
  padding: 2.1em !important;
}

#profileimg {
  position: absolute;
  z-index: -1;
  width: 25em;
  margin-top: -6em;
  margin-left: 20em;
  margin-bottom: -100em;
}

h1 {
  font-family: "Rubik Mono One", sans-serif;
  font-size: 2em;
  letter-spacing: 0.2em;
  margin-top: 0.5em;
  margin-left: 1em;
  margin-right: 1.2em;
  margin-bottom: 0.5em;
}

h3 {
  font-family: "Quicksand", sans-serif;
  font-size: 1em;
  margin-top: 2%;
  margin-left: 5%;
  letter-spacing: 0.05em;
  margin-right: 5%;
}

button,
input {
  width: 3em;
}

/********************************************************
                      Skills Section
*********************************************************/
/* #icons.ui.small.images {
  width: 83%;
  margin: auto;
}

#icons img.ui.image.node,
#icons img.ui.image.express,
#icons img.ui.image.mongo {
  width: 4em;
  margin: auto 1.6em;
} */
/* 
#icons img {
  width: 5em;
  box-shadow: none;
  margin: auto 1.2em;
  padding-left: 1em;
} */

div.ui.text.container.skills {
  width: 800px;
  padding-top: 2em;
  margin: auto;
}

h4.ui.header {
  font-family: "Rubik Mono One", sans-serif;
  font-size: 1.7em;
}

table > .table.header {
  font-family: "Concert One", cursive;
  font-size: 1.2em;
}

table > .table.body {
  font-family: "Quicksand", sans-serif;
}

table.ui.selectable.inverted.table {
  width: 70%;
  margin: 3em auto;
}

/* h2.icons.text {
  font-family: "Rubik Mono One", sans-serif;
  font-size: 2em;
  letter-spacing: 0.3em;
  padding-bottom: 0.5em;
  color: black;
} */

/***************************************************
                    Project Cards
****************************************************/

.ui.card > .content > a.header,
.ui.cards > .card > .content > a.header {
  font-family: "Quicksand", sans-serif;
  font-size: 1em;
  letter-spacing: 0.15em;
}

.ui.cards > .card > .content > a.header:hover {
  font-family: "Quicksand", sans-serif;
  color: #6646c4;
}

.ui.card > .content > div.meta,
.ui.cards > .card > .content > div.meta {
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  letter-spacing: 0.1em;
  margin-top: 0.5em;
}

.ui.card,
.ui.cards > .card {
  background: none;
  margin: 0.875em 1.5em;
}

body .ui.cards > .card {
  -webkit-box-shadow: none;
  box-shadow: none;
  text-align: justify;
}

.ui.cards a:hover {
  color: #000;
}

/***************************************************
                        Footer
****************************************************/
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3rem;
  z-index: -1;
  background: #c371a2;
  text-align: center;
  border: none;
}

/***************************************************
                        Keyframes
****************************************************/

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}
