body {
  background: #5f1223; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #5f1223,
    #9f1e3a
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #5f1223,
    #9f1e3a
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: "Montserrat", sans-serif;
}

.fadein {
  animation-name: fadeIn;
  animation-duration: 0.5s;
  transition-timing-function: ease-in;
  animation-fill-mode: both;
}

.fadeinup {
  animation-name: fadeInUp;
  animation-duration: 0.25s;
  transition-timing-function: ease-in;
  animation-fill-mode: both;
}

/***************************************************
                       Navbar
****************************************************/

/***************************************************
              All Section Containers
****************************************************/

/***************************************************
                     About Section
****************************************************/

h1.ui.header {
  font-family: "Fredoka One", cursive;
  text-transform: uppercase;
  font-weight: 400;
  margin-top: -5em;
  margin-left: 3em;
  margin-bottom: 4em;
  font-size: 2em;
  letter-spacing: 0.2em;
  color: #fef9fa;
}

h3.ui.header {
  font-family: "Montserrat", sans-serif;
  /* text-transform: uppercase; */
  font-weight: 400;
  margin-top: -5em;
  margin-left: 6em;
  margin-bottom: 4em;
  font-size: 1em;
  letter-spacing: 0.2em;
  color: #fef9fa;
}

.ui.container ul#info {
  list-style: none;
  margin-left: 1em;
  font-family: "Montserrat", sans-serif;
  color: #fef9fa;
}

.ui.container ul#info li.skills::before {
  content: none;
}

.ui.container ul#info li.skills {
  text-transform: uppercase;
}

.ui.container ul#info li {
  height: 2em;
  line-height: 1em;
  padding-top: 0.5em;
}

.ui.container ul#info li::before {
  content: "\2022";
  color: #fef9fa;
  font-weight: bold;
  display: inline-block;
  position: absolute;
  text-align: left;
  width: 2em;
  margin-top: -0.1em;
  margin-left: -0.5em;
  font-size: 3.5em;
}

/* ul#email li {
  height: 2em;
  line-height: 1em;
  padding-top: 0.5em;
} */

/* ul#email li::before {
  content: "\2022";
  color: #fef9fa;
  font-weight: bold;
  display: inline-block;
  position: absolute;
  text-align: left;
  width: 0.5em;
  margin-top: -0.1em;
  margin-left: -0.5em;
  font-size: 3.4em;
} */

/***************************************************
                    Project Cards
****************************************************/

img {
  width: 100%;
  -webkit-box-shadow: 10px 5px 5px -7px #2b0810;
  -moz-box-shadow: 10px 5px 5px -7px #2b0810;
  box-shadow: 10px 5px 5px -7px #2b0810;
}

.ui.card > .content > a.header,
.ui.cards > .card > .content > a.header {
  font-family: "Quicksand", sans-serif;
  font-size: 1em;
  letter-spacing: 0.15em;
  color: #fef9fa;
}

.ui.cards > .card > .content > a.header:hover {
  font-family: "Quicksand", sans-serif;
  color: #8e1b34;
}

.ui.card > .content > div.meta,
.ui.cards > .card > .content > div.meta {
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  letter-spacing: 0.1em;
  margin-top: 0.5em;
}

.ui.card,
.ui.cards > .card {
  background: none;
  margin: 0.875em 1.5em;
}

body .ui.cards > .card {
  -webkit-box-shadow: none;
  box-shadow: none;
  text-align: justify;
}

.ui.cards a:hover {
  color: #000;
}

/********************************************************
                      Contact Section
*********************************************************/

h2.info.ui.header {
  font-family: "Fredoka One", cursive;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: -5em;
  margin-left: -5em;
  margin-bottom: 4em;
  font-size: 2em;
  letter-spacing: 0.2em;
  color: #fef9fa;
}

.ui.contact img.contact.image {
  position: absolute;
  right: 8%;
  width: 35%;
  box-shadow: none;
}

#email,
#infoList {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}

#email a {
  color: #fef9fa;
  font-size: 1em;
  letter-spacing: 0.1em;
}

#infoList a {
  color: #5f1223;
  font-size: 1.3em;
}

#email {
  margin-bottom: 4em;
}

#infoList {
  margin-left: 2.3em;
  margin-top: 2em;
  margin-bottom: -3em;
}

.ui.icon.button,
.ui.icon.buttons .button {
  padding-bottom: 0.3em;
  padding-right: 0.3em;
  padding-left: 0.5em;
  padding-top: 0.6em;
  margin-right: 1em;
}

ul#email {
  list-style: none;
  margin-left: 1em;
}

ul#email li {
  height: 2em;
  line-height: 1em;
  padding-top: 0.5em;
}

ul#email li::before {
  content: "\2022";
  color: #fef9fa;
  font-weight: bold;
  display: inline-block;
  position: absolute;
  text-align: left;
  width: 0.5em;
  margin-top: -0.1em;
  margin-left: -0.5em;
  font-size: 3.4em;
}
/***************************************************
                        Footer
****************************************************/
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3rem;
  z-index: -1;
  background: #c371a2;
  text-align: center;
  border: none;
}

/***************************************************
                        Keyframes
****************************************************/

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}
