body {
  background: #fafafa; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #fafafa,
    #f7f7f7
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #f7f7f7
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: "Montserrat", sans-serif;
}

.fadein {
  animation-name: fadeIn;
  animation-duration: 0.5s;
  transition-timing-function: ease-in;
  animation-fill-mode: both;
}

.fadeinup {
  animation-name: fadeInUp;
  animation-duration: 0.25s;
  transition-timing-function: ease-in;
  animation-fill-mode: both;
}

/***************************************************
                     About Section
****************************************************/

#aboutMeBg {
  position: absolute;
  width: 70%;
  box-shadow: none;
  top: 6%;
  left: 30%;
  z-index: -1;
  -webkit-filter: drop-shadow(3px 3px 4px rgba(191, 191, 191, 0.7));
  filter: drop-shadow(3px 3px 4px rgba(191, 191, 191, 0.7));
}

h1.ui.header {
  font-family: "Notable";
  text-transform: uppercase;
  font-weight: 400;
  margin-top: -1em !important;
  margin-left: 3em;
  margin-bottom: 0;
  font-size: 2em;
  letter-spacing: 0.2em;
  color: #f09696;
  text-shadow: 2px 2px 4px #bfbfbf;
}

h2.ui.header {
  font-family: "Yeseva One";
  text-transform: lowercase;
  font-weight: 400;
  margin-top: 0 !important;
  margin-left: 10em;
  margin-bottom: 1em;
  font-size: 1em;
  letter-spacing: 0.2em;
  color: #cebeef;
  text-shadow: 2px 2px 4px #bfbfbf;
}

h3.ui.header {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin-top: -5em;
  margin-left: 6em;
  margin-bottom: 4em;
  font-size: 1em;
  letter-spacing: 0.2em;
  color: #535353;
  text-shadow: 2px 2px 5px #bfbfbf;
}

.ui.text.container#aboutMe {
  width: 44%;
}

#aboutMe .ui.text.container {
  padding-left: 1em !important;
}

.h3.header h3.ui.header {
  width: 30%;
}

/***************************************************
                    Project Cards
****************************************************/

img {
  width: 100%;
  -webkit-box-shadow: 10px 5px 5px -7px #bfbfbf;
  -moz-box-shadow: 10px 5px 5px -7px #bfbfbf;
  box-shadow: 10px 5px 5px -7px #bfbfbf;
}

.ui.card > .content > a.header,
.ui.cards > .card > .content > a.header {
  font-family: "Quicksand", sans-serif;
  font-size: 1em;
  letter-spacing: 0.15em;
  color: #f09696;
  text-shadow: 2px 2px 4px #bfbfbf;
}

.ui.cards > .card > .content > a.header:hover {
  font-family: "Quicksand", sans-serif;
  color: #f5baba;
}

.ui.card > .content > div.meta,
.ui.cards > .card > .content > div.meta {
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  letter-spacing: 0.1em;
  margin-top: 0.5em;
  text-transform: lowercase;
  text-shadow: 2px 2px 4px #bfbfbf;
}

.ui.card,
.ui.cards > .card {
  background: none;
  margin: 0.875em 1.5em;
}

body .ui.cards > .card {
  -webkit-box-shadow: none;
  box-shadow: none;
  text-align: justify;
  text-shadow: 2px 2px 4px #bfbfbf;
}

.ui.cards a:hover {
  color: #000;
}

.extra.content > a#extra1:hover,
.extra.content > a#extra2:hover,
.extra.content > a#extra3:hover,
.extra.content > a#extra4:hover {
  color: #f5baba;
}

/********************************************************
                      Contact Section
*********************************************************/

#section2 .ui.fluid.container.contact {
  width: 100% !important;
  margin-left: -3% !important;
}

#contactInfo h2.info.ui.header {
  width: 100%;
  font-size: 2em;
}

h2.info.ui.header {
  font-family: "Quicksand";
  text-transform: uppercase;
  font-weight: 700;
  padding-top: -5em;
  margin-left: -5em;
  margin-bottom: 2em;
  font-size: 2em;
  letter-spacing: 0.2em;
  color: #cebeef;
}

.ui.contact img.contact.image {
  position: absolute;
  z-index: -1;
  top: 25%;
  right: -4%;
  width: 50%;
  box-shadow: none;
  -webkit-filter: drop-shadow(3px 3px 4px rgba(191, 191, 191, 0.7));
  filter: drop-shadow(3px 3px 4px rgba(191, 191, 191, 0.7));
}

#email,
#infoList {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  text-shadow: 2px 2px 4px #bfbfbf;
}

#email a {
  color: #8e8e8e;
  font-size: 1em;
  letter-spacing: 0.1em;
  color: #535353;
}

#infoList a {
  color: #5f1223;
  font-size: 1.3em;
  color: #535353;
}

#email {
  margin-bottom: 4em;
}

#infoList {
  margin-left: 2.3em;
  margin-top: 2em;
  margin-bottom: -3em;
}

.ui.icon.button,
.ui.icon.buttons .button {
  padding-bottom: 0.3em;
  padding-right: 0.3em;
  padding-left: 0.5em;
  padding-top: 0.6em;
  margin-right: 1em;
  text-shadow: 2px 2px 4px #bfbfbf;
}

ul#email {
  list-style: none;
  margin-left: 1em;
}

ul#email li {
  height: 2em;
  line-height: 1em;
  padding-top: 0.5em;
}

ul#email li::before {
  content: "\2022";
  color: #8e8e8e;
  font-weight: bold;
  display: inline-block;
  position: absolute;
  text-align: left;
  width: 0.5em;
  margin-top: -0.1em;
  margin-left: -0.5em;
  font-size: 3.4em;
}
/***************************************************
                        Footer
****************************************************/
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3rem;
  z-index: -1;
  background: #c371a2;
  text-align: center;
  border: none;
}

/***************************************************
                        Keyframes
****************************************************/

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

/***************************************************
                Responsive Media Queries
****************************************************/

@media only screen and (max-width: 550px) {
  /* About */

  #section0 .fp-tableCell {
    width: 100%;
  }

  #section0 .fp-tableCell div.ui.fluid.container.about.fadein h1.ui.header {
    margin-top: 2em !important;
    margin-left: auto !important;
    margin-bottom: 0;
    width: 90%;
  }
  #section0 .fp-tableCell div.ui.fluid.container.about.fadein h2.ui.header {
    margin-top: 2em !important;
    margin-left: auto !important;
    margin-top: 1em !important;
    width: 70%;
  }
  #section0 .fp-tableCell div.ui.fluid.container.about.fadein h3.ui.header {
    margin-top: 2em !important;
    margin-left: 2% !important;
  }

  .h3.header > h3.ui.header {
    width: 100%;
    font-size: 0.8em;
    /* margin-top: 10em; */
  }

  #section0 .fp-tableCell img#aboutMeBg {
    position: absolute;
    top: 10%;
    left: 15% !important;
    width: 80%;
  }

  /* Contact */

  #section2 .ui.fluid.container.contact {
    width: 100% !important;
    margin-left: auto !important;
  }

  #contactInfo h2.ui.header {
    margin-top: 5% !important;
  }

  #contactInfo h2.info.ui.header {
    width: 90%;
    font-size: 1.5em;
    margin-left: auto;
    margin-bottom: none !important;
  }

  ul#email {
    font-size: 0.8em;
  }

  .ui.contact img.contact.image {
    left: 25%;
    top: 15%;
  }

  .ui.icon.button,
  .ui.icon.buttons .button {
    margin-bottom: 3%;
  }
}

@media only screen and (min-width: 551px) and (max-width: 700px) {
  /* About */
  .ui.header.container {
    margin-top: 10em;
  }

  .h3.header > h3.ui.header {
    width: 70%;
    font-size: 0.8em;
  }

  #aboutMeBg {
    position: absolute;
    top: 5%;
    left: 25%;
    width: 60%;
  }

  /* Contact */

  #section2 .ui.fluid.container.contact {
    width: 80% !important;
    margin-left: auto !important;
  }

  #contactInfo h2.ui.header {
    margin-top: 3.5em !important;
  }

  #contactInfo h2.info.ui.header {
    width: 100%;
    font-size: 1.5em;
    margin-left: auto;
    margin-bottom: none !important;
  }
  ul#email {
    font-size: 0.8em;
  }

  .ui.contact img.contact.image {
    left: 26%;
    top: 20%;
    width: 50%;
  }

  .ui.icon.button,
  .ui.icon.buttons .button {
    margin-bottom: 3%;
  }
}

@media only screen and (min-width: 701px) and (max-width: 900px) {
  /* About */
  .ui.header.container {
    margin-top: 5em;
    width: 40%;
    margin-left: 5% !important;
  }

  h2.ui.header {
    width: 100%;
  }

  .h3.header > h3.ui.header {
    width: 100%;
    font-size: 0.8em;
  }

  #aboutMeBg {
    position: absolute;
    left: 45%;
    top: 15%;
    width: 60%;
  }

  /* Contact */

  #section2 .ui.fluid.container.contact {
    width: 80% !important;
    margin-left: auto !important;
  }

  #contactInfo h2.info.ui.header {
    width: 100%;
    font-size: 1.7em;
    margin-left: auto;
  }
  ul#email {
    font-size: 0.8em;
  }

  .ui.contact img.contact.image {
    top: 35%;
    width: 40%;
  }
}
